@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.open-sans {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Shared style */
.bg-orange {
  color: rgb(253, 110, 10);
}
.btn {
  padding: 18px 35px;
  background: rgb(253, 110, 10);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  border: none;
  cursor: pointer;
}
.btn-margin {
  margin-left: 15px;
}
/* header */
header {
  height: 837px;
  background-image: url(/images/developer.png), url(/images/header_bg.png);
  background-position: left center, right bottom;
  background-repeat: no-repeat, no-repeat;
  margin: 0 0px 0 23px;
}
/* navbar */
nav {
  margin: 0 230px 0 226px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 800;
  line-height: 61px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 51px;
}

nav ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
nav ul li:last-child > a {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 38px 0 230px;
}
.header-content img {
  max-width: 584px;
  max-height: 676px;
}
.header-content .banner button {
  padding: 18px 20px;
  margin-right: 30px;
}
.header-content .banner button:last-child {
  padding: 16px 30px;
  background: none;
  border: 2px solid rgb(253, 110, 10);
  box-sizing: border-box;
}
.header-content .banner .banner-greetings {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 600;
  line-height: 61px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 5px;
}

.header-content .banner .banner-title {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 85px;
  font-weight: 700;
  line-height: 116px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}
.header-content .banner .banner-descriptions {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  width: 585px;
  margin-bottom: 30px;
}

/* about section */
.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 130px 0;
}
.about-content {
  width: 827px;
}
.about .about-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}

.about-title {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 30px;
}

.about-description {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 30px;
}

/* what i do */
.what-i-do .whatido-content p {
  width: 909px;
  height: 90px;
}
.what-i-do {
  margin: 130px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.what-i-do .whatido-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.what-i-do .whatido-details .javascript,
.react,
.nodejs,
.mongodb {
  width: 277px;
  height: 377px;
  padding: 30px;
}

.what-i-do .whatido-details .javascript p,
.what-i-do .whatido-details .react p,
.what-i-do .whatido-details .nodejs p,
.what-i-do .whatido-details .mongodb p {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 20px;
}

.what-i-do .whatido-details .javascript h3,
.what-i-do .whatido-details .react h3,
.what-i-do .whatido-details .nodejs h3,
.what-i-do .whatido-details .mongodb h3 {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 30px;
}

/* summary section */
.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.summary .summary-details {
  display: flex;
  gap: 71px;
}
.summary .summary-details .education-details,
.experience-details {
  width: 511px;
  height: 175px;
  margin-bottom: 60px;
}
.summary .summary-details .education .education-title {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 30px;
}
.summary .summary-details .experience .experience-title {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 30px;
}
.summary .summary-details .education-details h4,
.experience-details h4 {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 25px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10px;
}

.summary .summary-details .education-details p,
.experience-details p {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}

.summary .summary-details .education-details p:last-child,
.experience-details p:last-child {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.summary button a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.contact {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
  margin: 130px 0 130px 0;
}

.contact .contact-social h1 {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}
.contact .contact-social p {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  width: 562px;
  height: 56px;
  margin-bottom: 20px;
}

.contact .contact-social .icons img {
  border: 1px dotted gray;
  margin-right: 30px;
}
.contact .send-mail h2 {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 28px;
}
.contact .send-mail form input {
  display: block;
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  outline: none;
  width: 461px;
  height: 56px;
  padding: 0px 0 0 10px;
  border-radius: 5px;
  margin: 24px 0;
  background: rgb(255, 255, 255);
}
.contact .send-mail form textarea {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  width: 461px;
  height: 180px;
  outline: none;
  padding: 10px 0 0 10px;
  border-radius: 5px;
  margin-bottom: 24px;
  background: rgb(255, 255, 255);
}
